body {
    font-family: 'Montserrat';
    text-align: center;
}

.container-fluid {
    padding: 7% 15%;
}

/*sections*/
.colored-section {
    background-color: rgba(246, 84, 84, 0.979);
    color: white;
}

.white-section {
    background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat';
}

p {
    color: grey;
    font-family: 'Montserrat-light';
}

.big-heading {
    font-size: 3rem;
    font-weight: bolder;
    line-height: 1.5;
    color: white;
    margin-top: 30px;
}

.section-heading {
    font-size: 2.5rem;
    line-height: 1.5;
}

/*Navigation bar*/

.navbar {
    padding: 0 0 2.5rem;

}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-light', sans-serif;
}

/*button*/

.downbutton {
    margin: 5% 3% 5% 0;
}

/*Title*/

.title-image {
    width: 55%;
    transform: rotate(25deg);
    position: absolute;
}

#title .container-fluid {
    padding: 3% 15% 6%;
    text-align: left;
}

.position-image {
    position: relative;
}

/*features*/

#features {
    position: relative;
}

.feature-box {
    padding: 2%;
}

.feature-text {
    font-size: 1.5rem;
}

.icon {
    color: rgba(246, 137, 137, 0.979);
    margin-bottom: 1rem;
}

.icon:hover {
    color: rgba(244, 91, 91, 0.979);
}

/*Testimonials*/

#testimonials {
    background-color: rgba(246, 137, 137, 0.979);
}

.testimonial-img {
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}

.testimonial-text {
    font-weight: 100;
    font-size: 2.5rem;
    line-height: 1.5;
}


#press {
    background-color: rgba(246, 137, 137, 0.979);
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 15px;
}

/*pricing*/
#pricing {
    padding: 100px;
}

.pricing-col {
    padding: 3% 2%;
}

.price-text {
    font-size: 2.5rem;
    line-height: 1.5;
}



/*footer*/

.social-icons {
    margin: 20px 10px;
}

/*media queries*/

@media(max-width: 1028px) {
    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}